<div class='container'>
    <%= link_to "Retrieve placements", retrieve_path, class:'retrieve-button'%>
  <h2>Placements</h2>
  <div class= "col-md-8 col-md-offset-2">
    <table class='table'>
      <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Client</th>
        <th>Sector</th>
        <th>Monthly salary</th>
      </tr>
      <% @placements.each do |placement| %>
        <tr>
            <td><%=placement.start_date%></td>
            <td><%=placement.end_date%></td>
            <td><%=placement.client%></td>
            <td><%=placement.category%></td>
            <td><%=placement.monthly_salary%></td>
        </tr>
      <%end%>
    </table>
    <%= link_to "Export", export_placements_path(format: 'csv'),class: "btn btn-primary" %>
    <h3 style="text-align:center">Workers reusability</h3>
    <%= pie_chart [['one time', @one_time], ['repeated', @repeated]], colors: ["#6C63FF", "#C9B1FF"] %>
    <h3 style="text-align:center">Vacancies filled over time </h3>
    <%= column_chart Placement.group_by_month(:start_date).count %>
</div>