
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Days Worked</th>
      <th scope="col">Client</th>
      <th scope="col">Monthly salary</th>
      <th scope="col">Salary earned</th>
      <th scope="col">Sector</th>
    </tr>
  </thead>
  <% @reports.each do |report|%>
  <tbody>
    <tr>
      <th scope="row"><%=report.id%></th>
      <td><%=report.start_date%></td>
      <td><%=report.end_date%></td>
      <td><%=(report.end_date - report.start_date).to_i%> Days</td>
      <td><%=report.client%></td>
      <td><%=report.monthly_salary%></td>
      <td><%=((report.monthly_salary)/30) * (report.end_date - report.start_date).to_i%></td>
      <td><%=report.sector%></td>
    </tr>
  <%end%>

  </tbody>
</table>
