<%= link_to "Retrieve reports", sync_path , class:'retrieve-button'%><br/>
<br/>
<%= link_to "Undo Filters", reports_path %>
<h2> Reports </h2>
<table class="table">
  <thead>
    <tr>

    <%= form_with url: "/reports", method: :get do |form| %>
      <th scope="col">#</th>
      <th scope="col"><%= form.label :Month %><br/><%= form.select :month, Report.group(:month).count.keys%>
                      <%= form.submit "Filter by month", class: "btn btn-primary" %>
                      <%end%>
      </th>
      <%= form_with url: "/reports", method: :get do |form| %>
      <th scope="col">Days Worked</th>
      <th scope="col"><%= form.label :Client %><br/><%= form.select :client, Report.group(:client).count.keys%>
                      <%= form.submit "Filter by client", class: "btn btn-primary" %>
                      <%end%>
      </th>
    <%= form_with url: "/reports", method: :get do |form| %>
      <th scope="col">Total Factured</th>
      <th scope="col"><%= form.label :Category %><br/>
      <%= form.select :category, ['Logistics', 'Tech', 'Driving', 'Distribution', 'Sales', 'Other']%>
                      <%= form.submit "Filter by category", class: "btn btn-primary" %>
                      <%end%>
      </th>
    </tr>
  </thead>
  <% @reports.each do |report|%>
  <tbody>
    <tr>
      <th scope="row"><%=report.id%></th>
      <td><%=Date::MONTHNAMES[report.month]%></td>
      <td><%=report.days%></td>
      <td><%=report.client%></td>
      <td><%=report.salary_earned%></td>
      <td><%=report.sector%></td>
      <td><%= link_to "Show", report_path(report.id)%></td>
    </tr>
  <%end%>
  <tbody>
    <tr>
      <th scope="row">Total</th>
      <td></td>
      <td></td>
      <td></td>
      <td><% total_to_be_factured=0%>
          <% @reports.each do |report|%>
          <% total_to_be_factured+=report.salary_earned%>
          <%end%>
          <%=total_to_be_factured%></td>
      <td></td>
    </tr>

  </tbody>
</table>

<% if params[:commit].nil?%>
  <%= link_to "Export", export_path(format: 'csv'),class: "btn btn-primary" %>
<% else%>
    <% if !params[:client].nil? %>
      <%= form_with url: export_path(format: 'csv'), method: :get do |form| %>
      <%= hidden_field_tag :client, params[:client]%>
      <%= form.submit "Export!!", class: "btn btn-primary" %>
      <% end %>
    <% elsif !params[:month].nil? %>
      <%= form_with url: export_path(format: 'csv'), method: :get do |form| %>
      <%= hidden_field_tag :month, params[:month]%>
      <%= form.submit "Export!!", class: "btn btn-primary" %>
      <% end %>
    <% elsif !params[:category].nil? %>
      <%= form_with url: export_path(format: 'csv'), method: :get do |form| %>
      <%= hidden_field_tag :category, params[:category]%>
      <%= form.submit "Export!!", class: "btn btn-primary" %>
      <% end %>
    <% end %>
<% end %>