<div class='container'>
  <h1>Report</h1>
  <div class= "col-md-8 col-md-offset-2">
    <table class='table'>
      <tr>
        <th>Month</th>
        <th>Days</th>
        <th>Client</th>
        <th>Factured</th>
        <th>Sector</th>
      </tr>
        <tr>
        <td><%=@report.month%></td>
        <td><%=@report.days%></td>
        <td><%=@report.client%></td>
        <td><%=@report.salary_earned%></td>
        <td><%=@report.sector%></td>
        </tr>
    </table>
    </div>
    
<h1>Comments</h1>

    
    

 


